body{
    background-color: white;
}
header {
   background-color: #fff;
   width: 100%;
   height:100px;
    
}
header .header-brand{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 24px;
    color: rgb(36, 34, 34);
    font-weight: 900;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
    
}

header nav ul li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0 10px;
}
 header nav ul li a {
    font-size: 16px;
    color: rgb(39, 38, 38);
    font-weight: 500;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}
 header nav ul li a:hover {
    color: red;
    font-size: 27px;
}
@media only screen and (min-width: 1000px){
    header .header-brand{
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        font-size: 30px;
        color: rgb(36, 34, 34);
        font-weight: 900;
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0;
    
    }
    header nav ul li a {
        font-size: 23px;
        color: rgb(39, 38, 38);
        font-weight: 600;
        font-family: 'Indie Flower', cursive;
        text-decoration: none;
    }
    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner{
        /*width: 100%;*/
        height: 550px !important;
      /*  background-image: url('images/bulb.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;*/
    }
    .index-links{
        text-decoration: none;
        overflow: hidden;
        
    }
    .index-links a {
        text-decoration: none;
        
        
    }
    /*.index-links a div{
        
        margin: 10px 8px 0;
        width: 100px;
        height: 250px;
        background-color: #eed48e;
        float: left;
        
    }*/
    .index-links a div h3{
        line-height: 23px;
        padding-top: 35px;
        color: rgb(34, 32, 32);
        font-size: 28px;
        font-weight: 100;
        font-family: 'Fredoka One', cursive;
        text-align: center;
    }
    .index{
        width: calc(33% - 16px) !important;
        height: 250px;
        margin: 10px 8px 0;
        width: 100px;
        height: 350px;
        background-color: #eed48e;
        float: left;
        padding-bottom: 40px; 
    }
    
.icon{
    
    /*margin: 10px auto 0;*/
    margin: 0 auto;
    padding-top: 25px;
    height: 20px;
}
.icon h3{
    padding-left: 100px;
    margin: 0 auto;
    text-align: left;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 40px;
}

.icon div{
    height: 100px;
    padding-top: 10px;
    margin: 0 auto;
}

.icon div a {
    margin: 0 auto;
}
.icon div a img{
    padding-left: 10px;
    width:35px;
    margin: 0 auto ;
}

}

/*index*/
.index-banner{

    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('images/bulb.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: table;
}
.vertical-center{
    display: table-cell;
    vertical-align: middle;
}

 .index-banner h2{
     padding-top: 90px;
     color: rgb(206, 199, 199);
     font-weight: 550;
     font-size: 45px;
     font-family: 'ZCOOL QingKe HuangYou', cursive;
     text-align: center;
     text-shadow: 4px 4px 8px black;
}
 .index-banner h3{
    padding-top: 10px;
    color: rgb(151, 151, 103);
    font-style: italic;
    font-size: 28px;
    font-weight: 900;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-shadow:3px 3px #111;
}
.index-links{
    text-decoration: none;
}
.index-links a {
    text-decoration: none;
    
}
.index-links a div{
    
    margin: 10px 8px 0;
    width: calc(100% - 16px);
    height: 100px;
    background-color: #eed48e;
}
.index-links a div h3{
    padding-top: 35px;
    color: rgb(34, 32, 32);
    font-size: 28px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    text-align: center;

}

.icon{
    margin: 10px 8px 0;
    padding-top: 25px;
    height: 20px;
}
.icon div h3{
    margin: 0 8px 0;
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    size: 60px;
}
.icon div{
    margin: 10px 8px 0;
    height: 100px;
    padding-top: 10px;
    padding-left: 100px;
}
.icon div img{
    padding-left: 10px;
    width:35px;
    margin: 0 auto;
}

